<div style="Text-align: center">

<h1>Clip of the Week!</h1>

<h4>Most viewed clip of the week.</h4>

<!--<iframe-->
<!--   src="https://clips.twitch.tv/BoredObeseCroissantDAESuppy"-->
<!--   height="450"-->
<!--   width="700"-->
<!--   frameborder="0"-->
<!--   scrolling="no"-->
<!--   allowfullscreen="true">-->
<!--</iframe>-->



   <div id="clips-display"></div>
</body>

</div>

<script type="text/javascript">

var httpRequest = new XMLHttpRequest();

httpRequest.addEventListener('load', clipsLoaded);
httpRequest.open('GET', 'https://api.twitch.tv/kraken/clips/top?limit=1&channel=dheg');
httpRequest.setRequestHeader('Client-ID', 'fsf1bi7if4hm3gjn0kgysttgv1qb73');
httpRequest.setRequestHeader('Accept', 'application/vnd.twitchtv.v5+json');
httpRequest.send();


function clipsLoaded() {
    var clipsDisplay = document.getElementById('clips-display'),
        clipList = JSON.parse(httpRequest.responseText);

    clipList.clips.forEach(function(clip, index, array) {
        clipItem = document.createElement('div');
        clipItem.innerHTML = clip.embed_html;
        clipsDisplay.appendChild(clipItem);
        clipsDisplay.type = "hidden";
    });
}

</script>





  <% if user_signed_in? %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clips.each do |clip| %>
      <tr>
        <td><%= clip.title %></td>
        <td><%= clip.player %></td>
        <td><%= link_to 'Show', clip %></td>
        <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
        <td><%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clip', new_clip_path %>
<%end%>