<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @clip.title %>
</p>

<p>
  <strong>Player:</strong>
  <%= @clip.player %>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
