<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">-->
  <!--  <#%= f.label :title %>-->
  <!--  <div class="myinput"><#%= f.text_field :title %></div>-->
  <!--</div>-->

  <div class="field">
    <%= f.label :team1 %>
    <div class="myinput"> <%= f.text_field :team1, :required => 'true' %>
  </div>

  <div class="field">
    <%= f.label :team2 %>
    <div class="myinput"> <%= f.text_field :team2, :required => 'true' %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :vod_url %>
    <div class="myinput"> <%= f.hidden_field :vod_url, :value => @vod_url %>
  </div>


  <div class="field">
    <%= f.hidden_field :match_start %>
    <div class="myinput"> <%= f.hidden_field :match_start, :value => @match_start%>
  </div>


<div class="field">
    <%= f.label :clip %>
    <div class="myinput"> <%= f.text_field :clip %>
</div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
