</br><h1 style="Text-Align: Center;">Match History</h1>
</br>

<% if user_signed_in? %>
  <%= link_to "<button style='color:black'>Create New Match</button>".html_safe, "/matches/new" %>
<% end %>



<div class="myTable">
  <div class="digg_pagination"><%= will_paginate @matches, :previous_label => ' &#8592; Prev', :page_links => false %></div>


  </br></br>

  <table style="text-align: center" class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th style="width: 55px;" class="align-middle">Start</th>
    <th style="width: 50%;" class="align-middle"> Match</th>
    <th style="width: 50%;" class="align-middle"> Winner</th>
    <th style="width: 50px;" class="align-middle"> VOD</th>
  </tr>
  </thead>

  <tbody>

  <% @matches.each do |match| %>
    <tr>
      <td style="font-size:70%" class="align-middle myTD">
        <%= match.match_start.strftime("%m/%d") %>  </br>
        <i class="fas fa-at"></i></br>
        <%= match.match_start.strftime("%I:%M%p") %>
      </td>

      <td class="align-middle myTD"><%= match.team1.upcase + " vs. " + match.team2.upcase %> </td>

      <td class="align-middle myTD">
        <% if match.winner.present? %>
          <%= match.winner.upcase %>
        <% else %>

          TBD
        <% end %>
      </td>

      <td class="align-middle myTD">
        <a class=" myTwitch" href="<%= match.vod_url %>" target="_blank">
          <i class="fab fa-twitch myTwitch"></i>
        </a>
<!--&nbsp;-->
        <!--<a href="#" >-->
          <!--<i class="fab fa-youtube myYoutube"></i>-->
        <!--</a>-->
      </td>






      <% if user_signed_in? %>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: {confirm: 'Are you sure?'} %></td>

      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>



  <div class="digg_pagination"><%= will_paginate @matches, :previous_label => ' &#8592; Prev', :page_links => false %></div>


</div>

<% if user_signed_in? %>
  <%= link_to "<button style='color:black'>Create New Match</button>".html_safe, "/matches/new" %>
<% end %>
</br></br>