<!DOCTYPE html>
<head>
  <title>RL Scuff Series - BETA</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- latest compiled bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>


<body style="height=100%; padding-bottom:80px; background-color: #002233; font-family: 'Source Sans Pro'">


<div style="background-color: black; display: flex; flex-flow: row wrap;">

  <div style="flex-basis: 33%"></div>
  <div style="flex-basis: 33%"><a href="/"><img style="height:180px; display:block; margin:auto;" src="/scuffLOGO.png"></a>
  </div>

  <div style="flex-basis: 33%"></div>
</div>


<!--navigation-->

<div class="container" style="width:100%">
  <nav class="navbar navbar-default" style="background-color:midnightblue">
    <div class="container-fluid navbar-res-width">
      <div class="navbar-header">
        <!---->
        <!--<a class="navbar-brand" href="/"><b>Joey Napoli</b></a>-->

        <!--hamburger button navigation-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mynavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>


      <!-- these are the navigation links wrapped in a collapsible div-->
      <div class="collapse navbar-collapse mynavbar">

        <!--the right hand navigation part-->
        <ul class="nav navbar-nav">
          <li>
            <a href="/" target="_blank" title="Home">Home</a>
          </li>
          
             <li>
            <a href="#" title="Schedule">Schedule</a>
          </li>
          

          <li>
            <a href="#" title="Top Clips">Top Clips</a>
          </li>

          <li>
            <a href="/matches" title="Match History">Match History</a>
          </li>
          
          <li>
            <a href="https://www.twitch.tv/dheg" target="_blank" title="Dheg's Stream">Dheg on Twitch</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>


<!--<p class="notice"></%= notice %></p>-->
<!--<p class="alert"></%= alert %></p>-->

<div class="container">
  <div class="container-fluid">
    <div style="width=100%; display: flex; flex-flow: row wrap; margin-top:100px">
      <div style="flex-basis: 10%"></div>
      <div style="flex-basis: 80%">
        <div style="display:block; margin:auto;"> <%= yield %> </div>
      </div>
    </div>
    <div style="flex-basis: 10%"></div>
  </div>

</div>


</body>

<ul>
  <% if user_signed_in? %>
  <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
  <%end%>
</ul>



</html>
